PORT=3000

# Telegram Configuration
TELEGRAM_BOT_TOKEN=8093638286:AAHslkVd7Y3KBDiNseWM703Kyih2ycF1Yxs
TELEGRAM_CHAT_ID=-5528169479
TELEGRAM_ALERT_CHAT_IDS=-5528169479,7411651759

# Google Sheets Configuration
SPREADSHEET_ID=18LGaq68JD34zvwxoiMWi_dLIontoMe_6W4hekqyexmY
GOOGLE_SERVICE_ACCOUNT_EMAIL=your_service_account@project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_KEY\n-----END PRIVATE KEY-----"

# Zoom Server-to-Server OAuth Configuration
ZOOM_ACCOUNT_ID=your_zoom_account_id
ZOOM_CLIENT_ID=your_zoom_client_id
ZOOM_CLIENT_SECRET=your_zoom_client_secret
